
<table class="table table-condensed table-striped table-bordered">
    <% if (caption) { %>
    <caption><%- caption %></caption>
    <% } %>
    <thead>
        <tr>
            <% _.each(fields, function(field) { %>
            <td><%- _.isObject(field) ? field.label : _.last(field.split('.')) %></td>
            <% }) %>
        </tr>
    </thead>
    <tbody>
        <% rows.each(function(model) { %>
        <tr>
            <% _.each(fields, function(field) { %>
            <% if (_.isObject(field)) { field = field.key; } %>
            <td><%- _.isFunction(formatters[field]) ? formatters[field](model.getNested(field)) : model.getNested(field) %></td>
            <% }) %>
        </tr>
        <% }) %>
    </tbody>
</table>
